body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 20px;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0 70px;
  color: #ffffff;
}

a {
    color: #ffffff;
}
nav {
  grid-column: span 2;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #ffffff;
}

main {
  grid-column: span 2;
}

form {
  grid-column: 1;
}

form label,
form input,
form textarea,
form select,
form button {
  margin-bottom: 10px;
  margin-top: 10px;
}

form label {
  display: inline-block;
  width: 100px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

p {
  margin-bottom: 25px;
}

img.mario {
  grid-column: 2;
}

.right {
  float: right;
}

#footer {
  grid-column: span 2;
}
